<div id="cart">
<p id="notice"><%= notice %></p>
<table>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td class="cart_title"><%= item.product.title %></td>
      <td><%= item.quantity %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    </tr>
  <% end %>
  
  <tr class="total line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>

</table>

<%= button_to 'Empty Cart', @cart, :method => :delete,
    :confirm => 'Are you sure?' %>
<%= button_to 'Back', store_path %>

</div>
